<body class="o-page o-page--center vsc-initialized" cz-shortcut-listen="true">
  <div class="o-page__card">
    <div class="c-card u-marginBotton-xs">
      <header class="c-card__header u-paddingTop-l">
        <a class="c-card__icon" href="#!">
          <img
            src="assets/images/logo-band.png"
            alt="Dashboard do Portal Comercial"
          />
        </a>
        <h1 class="u-h3 u-text-center u-marginBottom-zero">
          Bem-vindo ao Dashboard do Comercial. Faça seu login.
        </h1>
      </header>

      <form
        class="c-card__body"
        [formGroup]="loginForm"
        method="POST"
        (submit)="logIn($event)"
      >
        <div class="c-field u-marginBottom-s">
          <label class="c-field__label" for="input1"
            >Digite seu usuário</label
          >
          <input
            class="c-input"
            type="email"
            id="input1"
            placeholder="login da Band"
            #userNameInput
            [(ngModel)]="username"
            autofocus
            required
            name="Login"
            formControlName="username"
          />
          <app-v-message
            *ngIf="loginForm.get('username').errors?.required"
            text="O campo usuário é obrigatório"
          >
          </app-v-message>
        </div>

        <div class="c-field u-marginBottom-m">
          <label class="c-field__label" for="input2">Senha</label>
          <input
            class="c-input"
            type="password"
            id="input2"
            name="password"
            placeholder="senha da máquina"
            formControlName="password"
            [(ngModel)]="password"
            required
          />
          <app-v-message
            *ngIf="loginForm.get('password').errors?.required"
            text="A senha é obrigatória"
          >
          </app-v-message>
        </div>

        <button
          [disabled]="loginForm.invalid"
          type="submit"
          class="c-button c-button--info c-button--fullwidth"
          #btnLogin
        >
          entrar
        </button>
      </form>
    </div>
  </div>
</body>
