<app-header></app-header>
<div class="c-toolbar u-mb-medium">
	<h3 class="c-toolbar__title has-divider">Editar Home</h3>
	<h5 class="c-toolbar__meta u-marginRight-auto">Clique nas abas para editar um banner especifico</h5>
</div>

<div class="container u-marginTop-m">

	<div class="c-tabs u-marginBottom-m">
		<nav class="c-tabs__list nav nav-tabs" id="" role="tablist">
			<a class="c-tabs__link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-principal"
			 aria-selected="true">Banner 1</a>
			<a class="c-tabs__link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-banner2"
			 aria-selected="false">Banner 2</a>
			<a class="c-tabs__link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-banner3"
			 aria-selected="false">Banner 3</a>
			<a class="c-tabs__link" id="nav-contact-tab" data-toggle="tab" href="#nav-banner4" role="tab" aria-controls="nav-banner4"
			 aria-selected="false">Banner 4</a>
			<a class="c-tabs__link" id="nav-contact-tab" data-toggle="tab" href="#nav-banner5" role="tab" aria-controls="nav-banner5"
			 aria-selected="false">Banner 5</a>
		</nav>

		<div class="c-tabs__content tab-content" id="nav-tabContent">

			<!-- tab -->
			<div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-principal-tab">
				<app-banner [homeD]='banner1'  (resposta)="recebeResponse($event)"  ></app-banner>
			</div><!-- ./ end tab -->

			<!-- tab -->
			<div class="c-tabs__pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-banner2-tab">
				<!-- content -->
				<app-banner [homeD]='banner2' (resposta)="recebeResponse($event)"></app-banner>
			</div><!-- ./ end tab -->

			<div class="c-tabs__pane" id="nav-contact" role="tabpanel" aria-labelledby="nav-banner3-tab">
				<app-banner [homeD]='banner3' (resposta)="recebeResponse($event)"></app-banner>
			</div>

			<div class="c-tabs__pane" id="nav-banner4" role="tabpanel" aria-labelledby="nav-banner4-tab">
				<app-banner [homeD]='banner4' (resposta)="recebeResponse($event)"></app-banner>
			</div>

			<div class="c-tabs__pane" id="nav-banner5" role="tabpanel" aria-labelledby="nav-banner5-tab">
				<app-banner [homeD]='banner5' (resposta)="recebeResponse($event)"></app-banner>
			</div>
		</div>
	</div>

</div>
<app-footer></app-footer>