  .example-item {
    height: 50px;
  }
  
//   ::-webkit-scrollbar {
//     width: 0px;
// }



.example-viewport {
    height: 500px;
    width: 100%;
    //overflow: none;
   // border: 1px solid black;
  }