///* ========================================================================
//   #NAVBAR
//   ======================================================================== */

//
// 1. Customize it to suit your brand's dimensions
//
$navbar-height: 70px;

$navbar-padding: 13px 30px;
$navbar-background-color: linear-gradient(180deg, #2da1f8, #1991eb);
$navbar-border-width: 1px;
$navbar-border-color: #1a91eb;


$navbar-brand-width: 195px; // [1]
$navbar-brand-height: 30px; // [1]
$navbar-brand-margin: 8px 20px 0 0;
