<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="u-marginVertical-l u-text-center">
                <h2 class="u-marginBottom-xs">Olá, {{user}}. Bem-vindo ao Dashboard do Comercial.</h2>
                <p class="u-text-mute u-h6">Gerencie todo o conteúdo do portal em um só lugar. <a href="mailto:desenv@band.com.br">Dúvidas
                        ou sugestões, clique aqui</a></p>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- block -->
        <div class="col-sm-12 col-lg-3">
            <div class="c-card u-padding-m u-text-center u-marginBottom-m" data-mh="landing-cards" style="height: 301px;">
                <img class="u-marginBottom-s" src="../assets/images/icon-home.png" alt="Ícone de Página Inicial">
                <h4 class="u-h6 u-text-bold u-marginBottom-s">
                    Escolha os destaques para a página principal.
                </h4>
                <a class="c-button c-button--primary" routerLink="/editar-home">editar home</a>
            </div>
        </div><!-- ./end block -->

        <!-- block -->
        <div class="col-sm-12 col-lg-3">
            <div class="c-card u-padding-m u-text-center u-marginBottom-m" data-mh="landing-cards" style="height: 301px;">
                <img class="u-marginBottom-s" src="../assets/images/icon-planos.png" alt="iPhone icon">
                <h4 class="u-h6 u-text-bold u-marginBottom-s">
                    Insira ou edite dados dos Planos Comerciais.
                </h4>
                <a class="c-button c-button--primary" routerLink="/planos">planos comerciais</a>
            </div>
        </div><!-- ./end block -->

        <!-- block -->
        <div class="col-sm-12 col-lg-3">
            <div class="c-card u-padding-m u-text-center u-marginBottom-m" data-mh="landing-cards" style="height: 301px;">
                <img class="u-marginBottom-s" src="../assets/images/icon-projetos.png" alt="iPhone icon">
                <h4 class="u-h6 u-text-bold u-marginBottom-s">
                    Insira ou edite dados dos Projetos Especiais.
                </h4>
                <a class="c-button c-button--primary" routerLink="/projetos">projetos especiais</a>
            </div>
        </div><!-- ./end block -->

        <!-- block -->
        <div class="col-sm-12 col-lg-3">
            <div class="c-card u-padding-m u-text-center u-marginBottom-m" data-mh="landing-cards" style="height: 301px;">
                <img class="u-marginBottom-s" src="../assets/images/icon-atlas.png" alt="iPhone icon">
                <h4 class="u-h6 u-text-bold u-marginBottom-s">
                    Atualize as informações de cobertura da Band.
                </h4>
                <a class="c-button c-button--primary" routerLink="/atlas">Atlas de Cobertura</a>
            </div>
        </div><!-- ./end block -->

    </div>
</div>
<app-footer></app-footer>